
body {
  background: white;
  color: gray;
  font-family: verdana, arial;
  font-size: 10pt;
}

#banklogo {
  border-bottom: solid #ffcc99 1px;
  margin-bottom: 50px;
}

#login {
  color: #aabbdd; 
  padding: 5px;
  border: solid #ccddff 1px;
  width: 110px;
}


input {
  border: solid #ccddff 1px;
  color: gray;
}

.error {
  color: red;
}


table, td {
   border-collapse:	collapse;	/* ie 6 ? *
   border-spacing:		0; 		/* ns 6 ? */
}

td {
  border: solid #ccddff 1px;
  padding: 2px;
}
