
body {
  background: white;
  color: black;
  font-family: verdana, arial;
  font-size: 10pt;
}

#banklogo {
  border-bottom: solid #ffcc99 2px;
  margin-bottom: 50px;
}

#login {
  color: #aabbdd; 
  padding: 5px;
  border: solid #ccddff 1px;
  width: 110px;
}


input {
  border: solid #ccddff 1px;
  color: gray;
}

